<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>94489922710-ukhskkp9kubhoh1g1uhdtbip6csrp9id.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.94489922710-ukhskkp9kubhoh1g1uhdtbip6csrp9id</string>
	<key>API_KEY</key>
	<string>AIzaSyCoepdiGD6bLOCDIt9victV3bmQYZlQyTg</string>
	<key>GCM_SENDER_ID</key>
	<string>94489922710</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sportWiseApp</string>
	<key>PROJECT_ID</key>
	<string>sports-wise</string>
	<key>STORAGE_BUCKET</key>
	<string>sports-wise.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94489922710:ios:763cec64449cfc1b09c6b7</string>
</dict>
</plist>